@model IEnumerable<ResumeApp.Models.SkillSet>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Skills</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["UsrID"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
               <th>
                    @Html.DisplayNameFor(model => model.skillsetType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.skillSetRecord)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.skillsetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.skillSetRecord)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.skillsetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.skillsetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.skillsetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Submitter" asp-action="Index">Return to Applicant Screen</a>
