@model IEnumerable<ResumeApp.Models.JobDescription>

@{
    ViewData["Title"] = "Index";
}

<h2>Work Experience Detail</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["workID"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sortOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jobExperience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sortOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobExperience)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.jobDescriptionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.jobDescriptionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.jobDescriptionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="WorkExperience" asp-action="Index">Return to Work Experience Screen</a>
