@model ResumeApp.Models.Reference

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.referenceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.referenceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.referencePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.referencePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.referenceEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.referenceEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.firstMet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.firstMet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.relationshipType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.relationshipType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YKnown)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YKnown)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.referenceID">Edit</a> |
    <a asp-action="Index" asp-route-id="@ViewData["UsrID"]" >Back to List</a>
</div>
